{% extends 'base.html.twig' %}

{% block body %}

	<div>
		{% for book in books %}
			<li>{{ book.title }}
				{{ book.author }}
				{% if app.user %}
					{% if book.quantity > 0 %}
						<a href="/rent/{{book.id}}">Rent</a>
						{% else %}
                        <span>Out of stock</span>
					{% endif %}
				{% endif %}
			</li>
		{% endfor %}
	</div>

{% endblock %}
