{% extends 'base.html.twig' %}

{% block body %}

<div>
{% for rentedBook in app.user.books %}
<li>{{ rentedBook.title }} {{ rentedBook.author }} <a href="/return/{{rentedBook.id}}">Return book</a></li>
{% endfor %}
</div>

{% endblock %}